@charset "UTF-08";
body{
    background: rgb(95, 95, 241);
    font-family: Arial, Helvetica, sans-serif;
}
#foto{ 
    width: 250px;  
    height: 250px;
    border-radius: 50%;
}

img {
    width: 300px;
    border-radius: 150px;
    margin-top: 10px;
    margin-left: 20px;
    height: 300px;
}
  
header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 5px;
    padding: 12px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.363);
}

footer{
    color: white;
    text-align: center;
    font-style: italic;
}